.footer {
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.footer__link {
  color: #fffae6;
  text-decoration: none;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link:active {
  color: burlywood;
}
