.table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

.table__cell {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.table__heading {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
}

.table__row:hover {
  background-color: #555;
  color: white;
}

.table__heading--border {
  border-bottom: 2px solid #fffae6;
}

.table__heading--color {
  background-color: #fffae6;
  color: #333;
}
